/********************************************************************/
@font-face{
    font-family: multicolore;
    src: url(fonts/Multicolore.otf);
}
@font-face{
    font-family: roboto-bold;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face{
    font-family: roboto-light;
    src: url(fonts/Roboto-Light.ttf);
}


 body{
    margin: 0;
    padding: 0;
    font-family: multicolore, sans-serif;
    background:#070B0E;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

 }
li{
    list-style: none;
 }
 /******************************************************************/

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
}
div#inicio-nav{
    width: 30%;
    color: white;
    position: absolute;
    text-align: center;
    left: -110px;
}
input#in-nav-menu{
    display: none;
}
span.cerrar-menu{
    display: none;
}
label.btn-nav-menu{
    cursor: pointer;
    top: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 18%;
    padding-right: 20%;
    position: relative;
    background:#0C1518;
    left: 0;
    border-left: 5px solid #2C485C;
    color: #243643;
    transition: background .3s;
    font-family: sans-serif;

}
label.btn-nav-menu, ul.ul-nav{
    display: inline-block;
}
label.btn-nav-menu:hover{
    background:#101C1E ;
}
input#in-nav-menu:checked ~ label.btn-nav-menu{
    background:#101C1E ;
}
ul.ul-nav{
    z-index: 50;
    text-align: center;
    position:relative;
    height: 100vh;
    background:#080E0F ;
    padding-left: 15%;
    padding-right: 15.2%;
    border-left: 5px solid #2C485C;
    box-shadow: 10px 10px 4px #060A0C ;
    left: -520px;
    font-family: sans-serif;
    overflow-x: hidden;
    border-radius: 3px 0 3px 0;
}
input#in-nav-menu:checked ~ ul.ul-nav{
    animation: menu-nav .5s;
    left: -13px;
}

@keyframes menu-nav{
    0%{
        left: -520px;
    }
    100%{
        left: -13px;
    }
}
div#inicio-nav ul.ul-nav li.li-nav{
    margin: 0;
    padding: 0;
}
a.btn-nav{
    text-align: center;
    align-content: center;
    align-items: center;
    color:#243643 ;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 10%;
    padding-top: 10%;
    position: relative;
    background:#080E0F ;
    width: 220.5%;
    border-bottom: 3px  solid transparent;
    transition: background .5s;
    left: -55px;
}
a.btn-nav.top{
    margin: 0;
}
a.btn-nav.select{
    background:#101C1E ;
}
a.btn-nav:hover{
    color: #365265;
    background:#101C1E ;
}


/**************************************************************************/
/*****************************INICIO PRINCIPAL*****************************/
/**************************************************************************/


div.inicio-prin{
    position: relative;
    width: 70%;
    padding-left: 6%;
    padding-right: 0;
    padding-top: 3%;
    padding-bottom: 2%;
    left: 14%;
    top: 20vh;
    background: #080E0F;
    color: #243643;
    text-align: center;
    align-content: center;
    font-family: roboto-light, sans-serif;
    border-bottom: solid 8px #243643;
    border-radius: 15px;
    box-shadow:10px 10px 4px #010101;
}
section.inicio-article-sec, section.inicio-article-cursos{
    display: inline-block;
    width: 40%;
    position:relative;
    margin: 0;
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
}
section.inicio-article-sec{
    position: relative;
    margin: 0;
    left: -70px;
    top: -80px;
}
section.inicio-article-cursos{
    position:relative ;
    top: -20px;
    right: 0;
}
h1.inicio-prin-title{
    font-family: multicolore;
    font-size: 13px;
}

a.btn-inicio-cursos{
    display: block;
    color: #2C485C;
    background: #0C1518 ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px transparent;
    margin-top: 1%;
    text-decoration: none;
    font-family: multicolore;
    font-size: 9px;
    transition: background .5s, border .5s;
}
a.btn-inicio-cursos:hover{
    border-bottom: solid 3px #2C485C;
    background: #080E0F;
}
@media screen and (max-width: 800px){
    section.inicio-article-sec, section.inicio-article-cursos{
        width: 95%;
        display: block;
        position: relative;
        margin-top: 5%;
        left: 0;
    }
    section.inicio-article-sec{
        position: relative;
        margin: 0;
        left: 0px;
        top: 0px;
    }
    section.inicio-article-cursos{
        position:relative ;
        top: -20px;
        left: -30px;
    }

}

div.prin-date{
    width: 100vw;
    background:#0C1518 ;
    color: #2C485C;
    position: relative;
    top: 70vh;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: roboto-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
article.date-article{
    width: 80%;
    position: relative;
    left: 10%;
}
section.date-section{
    background: #080E0F;
    margin-top: 50px;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
h3.date-name{
    font-size: 13px;
    font-family: multicolore, sans-serif;
}
p.date-text, h3.date-name{
    display: block;
}
section.date-img{
    width: 49%;
    left: 50px;
}
section.date-section.iz section.date-img{
    left: -50px;
}
img.date-img{
    width: 50%;
    border-radius: 50%;
    box-shadow: 10px 10px 4px #060A0C ;
    border: solid 5px #2C485C;
}
section.date-img, section.sec-text{
    display: inline-block;
    width: 40%;
    position:relative;
    margin: 0;
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
}
section.sec-text{
    top: -50px;
    bottom:;
}
@media screen and (max-width: 1100px){
    section.sec-text{
        top: -30px;
    }

}
@media screen and (max-width: 1000px){
    section.sec-text{
        top: 0;
    }
    h3.date-name{
        font-size: 12px;
    }
    p.date-text{
        font-size: 12px;
    }
}


/**********FOOTER**********//**********FOOTER**********//**********FOOTER**********//**********FOOTER**********/
/**********FOOTER**********//**********FOOTER**********//**********FOOTER**********//**********FOOTER**********/
/**********FOOTER**********//**********FOOTER**********//**********FOOTER**********//**********FOOTER**********/
/**********FOOTER**********//**********FOOTER**********//**********FOOTER**********//**********FOOTER**********/
/**********FOOTER**********//**********FOOTER**********//**********FOOTER**********//**********FOOTER**********/





footer{
    width: 100vw;
    background: #070B0E;
    color: white;
    position: relative;
    top: 70vh;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-bottom: 2%;
}
p.footer-copy{
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    top: -10px;
}
article.footer-redes{
    width: 80%;
    position: relative;
    left: 10%;
    font-family: roboto-light;
    padding-bottom: 2%;
}
a.btn-footer-redes{
    text-decoration: none;
    color:#2C485C ;
    margin-left: 5px;
    margin-right: 5px;
    transition: color .3s, border .3s;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
}
a.btn-footer-redes.f:hover{
    color: #1561D6;
    border-bottom: solid 2px #1561D6;
}
a.btn-footer-redes.y:hover{
    color: #D61521;
    border-bottom: solid 2px #D61521;
}
a.btn-footer-redes.t:hover{
    color: #15D0D6;
    border-bottom: solid 2px #15D0D6;
}
a.btn-footer-redes.i:hover{
    color: #D68A15;
    border-bottom: solid 2px #D68A15;
}
a.btn-footer-redes.g:hover{
    color: #D6B615;
    border-bottom: solid 2px #D6B615;
}
a.btn-footer-redes.tl:hover{
    color: #157ED6;
    border-bottom: solid 2px #157ED6;
}

a.btn-footer-tr{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color:#2C485C ;
    font-size: 12px;
    transition: color .3s;
}
a.btn-footer-tr:hover{
    color: #0C1518;
}